// custom.scss

.home {
	.post {
		text-align: center;
		h2 {
			display: none;
		}
	}
	#primary {
		padding-bottom: 0px !important;
	}
}

#top-bar {
	$column-width: 33%;
	.store-cta {
		display: none;
		text-align: left;
		a {
			color: $white;
			text-shadow: 0 1px 0 $dark-beige;
			text-decoration: none;
			font-family: 'Open Sans Condensed', sans-serif;
			text-transform: uppercase;
			letter-spacing: .03em;
		}
		@include tablet-desktop {
			display: block;
			float: left;
			width: $column-width;
		}
	}
	.social-links {
		display: block;
		text-align: center;
		@include tablet-desktop {
			float: left;
			width: $column-width;
		}
		a {
			color: $white;
			text-shadow: 0 1px 0 $dark-beige;
			font-size: 1.3em;
		}
	}
	.search-ecwid-desktop {
		display: none;
		@include tablet-desktop {
			margin-top: -2px;
			display: block;
			width: $column-width;
			float: left;
			position: relative;
    	right: -24px;
		}
	}
}

// Ecwid Ecommerce

.search-ecwid {
	display: block;
	width: 50%;
	float: left;
	height: 100%;
	margin: 15px 0 0 0;
	@include tablet-desktop {
		display: none;
	}
}

.ecwid-shopping-cart {
	#page-wrap {
		#primary {
			padding-bottom: 0px;
			.ecwid-store, .entry {
				border-top: 1px solid $beige;
				border-bottom: 1px solid $beige;
				font-family: $font-sans-serif;
				background: white;
				padding: $space-md $space-lg;
				margin-left: -$space-lg;
				margin-right: -$space-lg;
				p {
					margin-bottom: 14px;
				}
			}
		}
	}
}

// Unslider
.unslider {
	position: relative;
  padding: 40px;
  margin-bottom: 50px;
  // background: #fff;
  color: #666;
  text-align: center;
  text-shadow: none;
	@include desktop {
		width: 110%;
	  left: -5%;
	}
  .unslider-arrow, .unslider-arrow {
    display: block;
    width: 32px;
    height: 32px;
    top: 50%;
    right: -50px;
    left: auto;
    margin-top: -16px;
    overflow: hidden;
    background: rgba(0,0,0,.2) no-repeat 50% 50%;
    background-image: url('images/arrow.png');
    color: white;
    background-size: 7px 11px;
    border-radius: 32px;
    text-indent: -999em;
    opacity: .6;
    transition: opacity .2s;
	}
	.unslider-arrow.prev {
    // left: -50px;
    // right: auto;
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
	}
	.unslider-arrow.next {
    left: auto;
    right: 20px;
	}
	.unslider-arrow {
    position: absolute;
    left: 20px;
    z-index: 2;
    cursor: pointer;
	}
	.unslider-nav ol li,
	.unslider-nav ol li.unslider-active {
		border-color: $dark-beige;
	}
	.unslider-nav ol li.unslider-active {
		background-color: $dark-beige;
	}
	li {
		position: relative;
		margin-right: 20px;
		margin-left: 20px; 
		.slide-description {
			display: block;
			position: absolute;
			width: 100%;
			font-family: 'Open Sans Condensed', sans-serif;
			font-weight: bold;
			top: $space-md;
			text-align: center;
			font-size: 24px;
			line-height: 32px;
			color: $darker-beige;
			@include tablet {
				top: ($space-lg)*1.75;
				font-size: 38px;
				line-height: 36px;
		  }
		  @include desktop {
				top: ($space-lg)*2.4;
				font-size: 48px;
				line-height: 60px;
		  }
		}
		img {
	    max-width: 100%;
	    height: auto;
	    border-radius: 6px;
	  	box-shadow: 0 4px 6px rgba(0,0,0,.1);
		  @include desktop {
			  border-radius: 2px;
		  	box-shadow: 0 2px 8px rgba(0,0,0,.2);
			}
		}
	}
}