// layout.scss

html {
	background: $beige;
	@include tablet-desktop {
		height: 100%;
		background: url('./images/pickles.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
}
body {
	box-sizing: border-box;
	@include tablet-desktop {
		min-height: 100%;
		background-color: rgba(155,195,95,.66);
		background-attachment: fixed;
		background-image:
			repeating-linear-gradient(45deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 18px),
			repeating-linear-gradient(-45deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 18px)
	}
}

#page-wrap {
	max-width: $page-width;
	margin: 0px auto;
	box-shadow: 0 -5px $space-sm #777;
	#top-bar {
		display: block;
		clear: both;
		height: 30px;
		padding: $gutter;
		background: $beige;
		background: linear-gradient(to bottom right, $beige, $beige, darken($beige, 5%));
		border-bottom: 1px solid darken($beige, 8%);
		@include tablet-desktop {
			padding: $gutter $space-md;
		}
	}
	#header {
		padding: $gutter $gutter $space-sm;
		text-align: center;
		background-color: $cream;
		height: 45px;
		clear: both;
		border-bottom: 3px solid $dark-beige;
		@include tablet-desktop {
			padding: $gutter;
			height: 176px;
		}
		.header-img {
			@include tablet-desktop {
				float: left;
				margin: 8px 5px;
				height: 160px;
				content: ' ';
				width: 32%;
				border-radius: 15px;
			}
			&:nth-child(1) {
				@include tablet-desktop {
					background: url('images/harvest.jpg') no-repeat left 22%;
					background-size: 350px 350px; // 900px 900px
				}
			}
			&:nth-child(2) {
				@include tablet-desktop {
					background: url('images/pickles.jpg') no-repeat left 20%;
					background-size: 400px 608px; // 1200px 1842px
				}
			}
			&:nth-child(3) {
				@include tablet-desktop {
					background: url('images/uphill.jpg') no-repeat left 40%;
					background-size: 350px 350px; // 900px 900px
				}
			}
		}
		h1.logo {
			margin: 8px auto;
			width: 24%;
			float: left;
			@include tablet-desktop {
				clear: both;
				float: none;
				width: auto;
				padding: $space-sm auto 0;
			}
			a {
				margin: 0 0 0 $space-sm;
				display: block;
				text-indent: -9999px;
				font-size: 0px;
				background: url('images/freestone_logo_250px.png') no-repeat center;
				background-size: 67px 40px; // 338px x 200px
				height: 40px;
				width: 67px;
				@include tablet-desktop {
					margin: 0 auto;
					background-size: 223px 132px; // 338px x 200px
					background-position: center center;
					height: 160px;
					width: 223px;
				}
			}
		}
	}
	#primary {
		padding: $space-md $space-lg;
		background-color: $cream;
		border-bottom: 1px solid #111111;
	}
	#secondary {
		padding: $space-md;
		background-color: $dark-beige;
		color: $cream;
		a, link {
			color: $white;
		}
	}
	#footer:before {
		content: " ";
		clear: both;
		display: table-cell;
	}
	#footer {
		padding: $space-md;
		background: $darker-beige;
		background: linear-gradient(to bottom right, $darker-beige, $darker-beige, $black);
		text-align: center;
		color: $white;
	}
}