#nav-toggle {
	display: block;
	width: 24%;
	float: left;
	margin: 17px 0 0 0;
	background: $cream;
	@include tablet-desktop {
		display: none;
	}
}
#nav {
	background-color: $cream;
	display: none;
	width: 100%;
	@include tablet-desktop {
		padding: 3px 0 0;
		display: block;
	}
	ul {
		width: 100%;
		margin: 0;
		padding: 0;
		@include tablet-desktop {
			border-top: 2px solid $dark-beige;
			margin: 0;
			padding-bottom: $space-sm;
			text-align: center;
			border-bottom: 1px solid #ddd;
		}
		li {
			margin: 0;
			display: block;
			@include tablet-desktop {
				display: inline-block;
				margin: $space-md ($space-sm/2) $space-sm;
			}
			a {
				background-color: $beige;
				display: block;
				text-decoration: none;
				font-size: $font-size * 1.5;
				color: $black;
				text-shadow: 0 -1px 0 darken($cream, 10%);
				padding: $space-sm;
				border-bottom: 1px solid $dark-beige;
				&:hover {
					background-color: darken($cream, 10%);
				}
				@include tablet-desktop {
					display: inline-block;
					padding: $space-sm ($space-sm/1.2);
					font-size: 28px;
					background-color: $cream;
					border-bottom: none;
				}
			}
		}
		li.current_page_item a {
			background: $light-green;
			background: linear-gradient(to bottom, $light-green, $light-green, darken($light-green, 10%));
		}
		@include tablet-desktop {
			li.current_page_item a, li a {
				&:before, &:after {
					content: "";
					position: relative;
					top: -($space-sm*1.1);
					font-size: 0px;
					line-height: 0px;
					width: 0;
					height: 0;
					border-style: solid;
				}
				&:before {
					left: -9px;
					border-width: $line-height 0 $line-height 9px;
					border-color: transparent transparent transparent $cream;
				}
				&:after {
					left: 9px;
					border-width: $line-height 9px $line-height 0;
					border-color: transparent $cream transparent transparent;
				}
			}
		}
	}
}
.nav-hidden {
  display: none;
}